# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Executables
*.x

# Other files
project_2/src/node/log
project_2/src/locations
